body {
  background-color: #f2cc8f;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: #e07a5f;
  margin: 50px;
}

button {
  margin: 10px;
  padding: 10px;
  color: #81b29a;
  background-color: #3d405b;
  border: none;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

button:hover {
   box-shadow: 5px 3px 5px 1px rgba(0, 0, 0, 0.539);
}